params {
    googleregion = "europe-west1"
    dockerimage = "eu.gcr.io/ngdx-nextflow/demultiplex:latest"
}

process {
    withLabel: 'test' { cpus = 1; memory = 1.GB }
}

profiles {
    docker {
        docker.enabled         = true
        process.container = params.dockerimage
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.container = params.dockerimage
    }
    google {
        process.executor = "google-lifesciences"
        process.container = params.dockerimage
        google.project = "ngdx-nextflow"
        google.region = params.googleregion
    }
    biocluster {
        process.executor = "slurm"
        process.container = params.dockerimage
    } 
    standard {
        resume = true
    }
}