params {
    googleregion = "europe-west1"
    dockerimage = "settalo"
}

params {
    genome = "gs://ngdx-runs/references/rnafusion/GRCh38.p13.genome.fa"
    genomedir = "gs://ngdx-runs/references/star"
    gtf = "gs://ngdx-runs/references/rnafusion/gencode.v43.primary_assembly.annotation.gtf"
}

profiles {
    docker {
        docker.enabled         = true
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.container = params.dockerimage
    }
    google {
        process.executor = "google-lifesciences"
        process.container = params.dockerimage
        google.project = "ngdx-nextflow"
        google.region = params.googleregion
        google.lifeSciences.bootDiskSize = "50.GB"
        google.lifeSciences.preemptible = false
    }
    biocluster {
        process.executor = "slurm"
        process.container = params.dockerimage
    } 
    standard {
        resume = true
    }
}
