params {
    skip_align                  = false
    skip_bigwig                 = false
    skip_count_exon             = false
    skip_count_gene             = false
    skip_fastqc                 = false
    skip_trimming               = false
    skip_umi_dedup              = false
    skip_umi_extract            = false
    skip_umi_stats              = false
}

params.strand = '0'
